.table1{
    border: 1px solid gray;
   }  
   .table1 th, .table1 td{
    border: 1px solid gray;
   }
   .table1 th {
       background-color: #ff8c00;
   }
   .table1 {
       border-collapse: collapse;
   }
   .table1 th, .table1 td {
       
       border:dashed;
   }
   .table1 th, .table1 td{
       border-color:  red;
   }
